.button {
	padding: 20px 25px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;

	&--orange {
		background-image: linear-gradient(to left, #e74327 0%, #f18b05 100%);
		color: #fff;

		&:hover {
			background-image: linear-gradient(to right, #e74327 0%, #f18b05 100%);
		}
	}

	&--small { 
		text-transform: none;
		font-size: 14px;
		padding: 17px 20px 16px;
		font-weight: 500;
	}

	&--light {
		background-color: #fff;
		color: #ea5321;
		border: 1px solid #eaeaea;
	}
}