.link {
	font-weight: 500;
	text-decoration: none;
	font-size: 16px;
	transition: color .3s, border-color .3s;

	&--black {
		color: #000;
		border-bottom: 1px solid #000;

		&:hover {
			color: #e74327;
			border-bottom: 1px solid #e74327;
		}
	}
}