.footer {
	background-color: #f5f5f5;
	padding: 40px 0;

	&__row {
		display: flex;
		align-items: flex-start;
	}

	&__copy {
		width: 190px;
		flex-shrink: 0;
		font-size: 14px;
		line-height: 21px;
	}

	&__text {
		font-size: 14px;
		line-height: 21px;
		max-width: 920px;
	}

	&__cake {
		margin-left: auto;
		font-size: 14px;
		line-height: 21px;
		color: #000;
		text-decoration: none;
		transition: color .3s;

		&:hover {
			color: $orange;
		}

		img {
			margin-left: 10px;
		}
	}
}