.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 30;
	transition: transform .3s;
	background-color: #fff;

	&--fixed {
		position: fixed;
	}

	&--hidden {

		@media screen and (min-width: 1280px) {
			transform: translateY(-100%);
		}
	}

	&__row {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		max-width: 1600px;
		margin: 0 auto;
		padding: 0 50px;
	}

	&__logo {
		position: relative;
		// padding: 10px 0;
		margin-right: 30px;
		width: 170px;
		flex-shrink: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;

		&-link {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}

		&-image {

			&--mobile {
				display: none;
			}
		}
	}

	&__button {
		flex-shrink: 0;
	}

	&__menu,
	&__menu-inner,
	&__contact {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		align-self: stretch;
	}

	&__menu,
	&__menu-inner {
		flex-grow: 2;
	}

	&__nav {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		align-self: stretch;
		padding: 0 30px;

		&-item {
			align-self: stretch;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			margin-right: 40px;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			&:hover {

				.header__nav-drop {
					opacity: 1;
					visibility: visible;
					transform: translate(0);
				}
			}
		}

		&-link {
			font-size: 14px;
			font-weight: 500;
			text-decoration: none;
			color: #000;
			transition: color .3s;
			align-self: stretch;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;

			&:hover {
				color: $orange;
			}

			&--drop {
				position: relative;
				padding-right: 15px;

				&:after {
					content: '';
					position: absolute;
					width: 7px;
					height: 4px;
					right: 0;
					top: calc(50% - 2px);
					background-position: center;
					background-repeat: no-repeat;
					background-image: url(../images/static/header__nav-arr.svg);
					transition: transform .3s;
				}

				&:hover {

					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}

		&-drop {
			position: absolute;
			left: 0;
			top: 100%;
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
			transition: opacity .3s, visibility .3s, transform .3s;

			padding: 10px 0;
			width: 220px;
			background-color: #fcfcfc;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				height: 2px;
				background-image: linear-gradient(to right, #e74327 0%, #f18b05 100%);
			}

			&-link {
				display: block;
				padding: 7px 15px;
				font-size: 13px;
				line-height: 15px;
				color: #000;
				text-decoration: none;
				text-transform: uppercase;
				transition: color .3s;

				&:hover {
					color: $orange;
				}
			}
		}
	}

	&__contact {
		margin-left: auto;

		&-item {

		}

		&-phone {
			text-decoration: none;
			color: #000;
			font-weight: 700;
			transition: color .3s;

			&:hover {
				color: $orange;
			}
		}
	}

	&__search {

		&-icon {
			width: 15px;
			height: 17px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../images/static/header__loop.svg);
			cursor: pointer;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: -5px;
				top: -5px;
				right: -5px;
				bottom: -5px;
			}
		}

		&-form {
			position: absolute;
			right: 30px;
			left: 460px;
			top: 10px;
			bottom: 10px;
			background-color: #fff;
			z-index: 10;
			box-shadow: -5px 5px 48px -10px rgba(0, 0, 0, 0.2);
			transition: transform .4s, opacity .4s, visibility .4s;
			transform: scale(0.5);
			opacity: 0;
			visibility: hidden;

			&.is-opened {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
		}

		&-input {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			padding: 15px 40px 15px 20px;
			border: none;
			outline: none;
			font-size: 13px;
		}

		&-button {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 17px;
			height: 19px;
			background-position: center;
			background-repeat: no-repeat;
			// background-size: cover;
			background-image: url(../images/static/header__loop.svg);
			cursor: pointer;
			background-color: transparent;
			border: none;
		}
	}

	&__burger {
		display: none;
	}
}


