@include respond (1600px) {

	.footer {

		&__text {
			max-width: 700px;
		}
	}
}

@include respond (1280px) {

	.footer {
		padding: 30px 0;

		&__row {
			flex-wrap: wrap;
		}

		&__copy {
			order: 1;
		}

		&__text {
			order: 0;
			width: 100%;
			margin-bottom: 30px;
		}

		&__cake {
			order: 2;
		}
	}
}

@include respond (768px) {

	.footer {

		&__row {
			flex-direction: column;
		}

		&__text {
			margin-bottom: 50px;
		}

		&__copy {
			margin-bottom: 15px;
		}

		&__cake {
			margin-left: 0;
		}
	}
}