@include respond (1600px) {

	.header {
	
		&__row {
			padding: 0 40px;
		}

		&__logo {
			width: 140px;
			margin-right: 20px;
		}

		&__button {
			// width: 170px;
			flex-shrink: 0;
		}

		&__nav {
			padding: 0 20px;

			&-item {
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__search {

			&-form {
				left: 380px;
			}
		}
	}
}


@include respond (1280px) {

	.header {

		&__row {
			height: 54px;
		}

		&__menu {
			position: fixed;
			top: 54px;
			bottom: 0;
			right: 0;
			width: 380px;
			background-color: #0c5093;
			overflow-y: scroll;
			display: block;
			transform: translateX(100%);
			transition: transform .3s;

			&--opened {
				transform: translateX(0);
			}

			&-inner {
				display: flex;
				flex-direction: column-reverse;
				justify-content: flex-end;
				padding: 40px;
				margin: auto;
			}
		}

		&__nav {
			padding: 0;
			flex-direction: column;

			&-item {
				margin-right: 0;
				justify-content: flex-end;
				margin-bottom: 25px;
				flex-wrap: wrap;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&-link {
				font-size: 18px;
				font-weight: 500;
				color: #fff;
			}

			&-drop {
				position: static;
				visibility: visible;
				opacity: 1;
			    transform: translateY(0);
			    text-align: right;
			    margin-top: 15px;
			    display: none;
			    visibility: visible;
			    opacity: 1;
			}
		}

		&__contact {
			margin-left: 0;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 90px;

			&-phone {
				color: #fff;
			}
		}

		&__logo {
			margin-right: 0;

			&-image {

				&--desktop {
					display: none;
				}

				&--mobile {
					display: block;
				}
			}
		}

		&__search {
			flex-shrink: 0;
			margin-left: auto;

			&-form {
				left: 475px;
			}
		}

		&__button {
			margin: 0 auto;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			bottom: 0;
		}

		&__burger {
			display: block;
			position: relative;
			cursor: pointer;
			margin-left: 30px;

			&:after {
				content: '';
				position: absolute;
				left: -10px;
				top: -10px;
				right: -10px;
				bottom: -10px;
			}

			&--opened {

				.header__burger {

					&-bar {

						&:nth-child(1) {
							transform: rotate(45deg) translateY(4px) translateX(5px);
						}

						&:nth-child(2) {
							opacity: 0;
						}

						&:nth-child(3) {
							transform: rotate(-45deg) translateY(-3px) translateX(4px);
						}
					}
				}
			}
			
			&-bar {
				width: 18px;
				height: 1px;
				background-color: #000;
				border-radius: 1px;
				margin-bottom: 5px;
				transition: opacity .3s, transform .3s;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@include respond (768px) {

	.header {

		&__row {
			padding: 0 15px;
			height: 44px;
		}

		&__logo {
			width: auto;
		}

		&__button {
			position: relative;
			left: 0;
		    transform: translateX(0);
		    margin-left: 20px;
		}

		&__burger {
			margin-left: 20px;
		}

		&__menu {
			top: 44px;
			width: 100vw;

			&-inner {
				padding: 30px 15px;
			}
		}

		&__contact {
			margin-bottom: 40px;
		}

		&__nav {

			&-item {
				justify-content: center;
				margin-bottom: 22px;
				flex-direction: column;
				align-items: center;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&-link {
				font-size: 14px;
				align-self: center;
			}

			&-drop {
				text-align: center;
			}
		}

		&__search {

			&-form {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
}















