footer.footer
	.container
		.footer__row
			.footer__copy © n-gk.ru 2019
			.footer__text Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации. * Отправляя заявку, вы соглашаетесь на обработку персональных данных в целях рассмотрения обращения (Федеральный закон от 27.07.2006 N 152-ФЗ "О персональных данных"). Все права на использование материалов (фото, тексты, рендеры, планировки, и прочая информация) с данного сайта принадлежат УК Новоселье. VK7315
			a(href="#").footer__cake Разработка сайта <img src='assets/images/static/cake.svg' alt=''>