header.header
	.header__row
		.header__logo
			img(src="assets/images/static/header__logo.svg", alt="").header__logo-image.header__logo-image--desktop
			img(src="assets/images/static/logo_mobile.svg", alt="").header__logo-image.header__logo-image--mobile
			a(href="#").header__logo-link
		.header__button
			a(href="#").button.button--orange Выбрать квартиру
		.header__menu
			.header__menu-inner
				.header__nav
					.header__nav-item
						a(href="#").header__nav-link Ипотека
					.header__nav-item
						a(href="#").header__nav-link Ход строительства
					.header__nav-item
						a(href="#").header__nav-link.header__nav-link--drop О проекте
						.header__nav-drop
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
							a(href="#").header__nav-drop-link Квартал "Гамма"
					.header__nav-item
						a(href="#").header__nav-link Галерея
					.header__nav-item
						a(href="#").header__nav-link Контакты

				.header__contact
					.header__contact-item
						a(href="tel:+7 (812) 309-77-77").header__contact-phone +7 (812) 309-77-77
					.header__contact-item
						.soc
							.soc__item
								a(href="#").soc__item-link
								img(src="assets/images/static/soc-vk.svg", alt="").soc__item-icon
							.soc__item
								a(href="#").soc__item-link
								img(src="assets/images/static/soc-inst.svg", alt="").soc__item-icon
							.soc__item
								a(href="#").soc__item-link
								img(src="assets/images/static/soc-fb.svg", alt="").soc__item-icon

		.header__search
			.header__search-icon
			form.header__search-form
				input(type="text" placeholder='Введите запрос').header__search-input
				button(type='submit').header__search-button

		.header__burger
			.header__burger-bar
			.header__burger-bar
			.header__burger-bar