extends layout

block title
	title about

	//about-welcome

block content
	.about-welcome(style='background-image: url(assets/images/content/about-welcome.jpg)')
		.container
			.about-welcome__title Финская архитектура в 15 минутах от московских ворот
			.about-welcome__list
				a(href="#").about-welcome__list-item Гамма
				a(href="#").about-welcome__list-item Дельта
				a(href="#").about-welcome__list-item Эпсилон
				a(href="#").about-welcome__list-item Эпсилон
				a(href="#").about-welcome__list-item ЕТА

	.a-features
		.container
			.a-features__row
				.a-features__item
					.a-features__title 2,2 млн. м²
					.a-features__text Общая площадь жилого фонда
				.a-features__item
					.a-features__title 15 мин
					.a-features__text От ст. м. Московские ворота на автомобиле
				.a-features__item
					.a-features__title 2
					.a-features__text Детских садика
				.a-features__item
					.a-features__title 525
					.a-features__text Мест в школе
				.a-features__item
					.a-features__title Ice Rink
					.a-features__text Построен и работает Ледовый дворец ICE RINK.
				.a-features__item
					.a-features__title 12
					.a-features__text Этажей максимум

	.about__note
		.about__note-text Проект Комплексного Освоения Территории (КОТ) — ЖК Новоселье («Новоселье: городские кварталы») строится рядом с третьей МЕГА-ИКЕА (окончание строительства - 2020 год), прямо на границе с Красносельским районом города, в пос. Новоселье. Проект с финской архитектурой от Jukka Tikkanen Ltd находится в 15 минутах езды на автомобиле через ЗСД от станции метро Московские ворота. Уже построены и заселены 10(Десять) домов в 4(четырех) кварталах "Альфа", "Бета", "Гамма", "Дельта", строятся кварталы "Эпсилон" и "ETA".

	.about__block(style='background-image: url(assets/images/content/about-block_1.jpg)')
		.container
			.about__block-content
				.about__block-title 2020 год - завершение строительства МЕГА-ИКЕА

	.about__block(style='background-image: url(assets/images/content/about-block_2.jpg)')
		.container
			.about__block-content
				.about__block-title Лучшее местоположение
				.about__block-text Между двумя развязками КАД и ЗСД

	.about__media
		.container
			.media
				.media__content.media__content--custom
					.media__content-title Преимущества проекта
					.media__content-list
						.media__content-list-item Комфортные евро-планировки, созданные финским архитектором
						.media__content-list-item Отделка квартир по европейским стандартам
						.media__content-list-item Панорамные окна
						.media__content-list-item Территория закрыта по периметру
						.media__content-list-item Кластерная система расположения кварталов
						.media__content-list-item Доступная цена

				.media__gallery
					.media__gallery-col
						.media__gallery-item(style='background-image: url(assets/images/content/inst_5.jpg)')
						.media__gallery-item(style='background-image: url(assets/images/content/inst_6.jpg)')
					.media__gallery-col
						.media__gallery-item(style='background-image: url(assets/images/content/inst_7.jpg)')
						.media__gallery-item(style='background-image: url(assets/images/content/inst_8.jpg)')

	.about__types
		.about__types-item
			.about__types-image(style='background-image: url(assets/images/content/type_1.png)')
			.about__types-title Современный финский дизайн
		.about__types-item
			.about__types-image(style='background-image: url(assets/images/content/type_2.png)')
			.about__types-title Концепция кластеров
		.about__types-item
			.about__types-image(style='background-image: url(assets/images/content/type_3.png)')
			.about__types-title Удобные планировки квартир

	.about__note
		.about__note-title Инфраструктура
		.about__note-text Посёлок Новоселье и прилегающие территории являются объектом не уплотнительной, а комплексной многоэтажной застройки. Введение в строй нескольких сотен тысяч квадратных метров жилья требует создания собственной разветвлённой социальной инфраструктуры. И данная инфраструктура создаётся буквально опережающими темпами: в комплексе будут соблюдены все социальные нормы проживания.

	.about__plan
		img(src="assets/images/content/about-plan.jpg", alt="")

	.about__contact
		.container
			.about__contact-row
				.about__contact-content
					.about__contact-title Ответим на все вопросы
					a(href="#").about__contact-item +7 (812) 309 7777
					a(href="#").about__contact-item info@n-gk.ru
					.about__contact-text Ленинградская область, Ломоносовский район, посёлок Новоселье, Институтская улица, д. 1 за домом — 2-этажное здание и вывеска «Офис продаж».
					a(href="#").about__contact-link Смотреть на карте
					a(href="#").about__contact-link Документы
				.about__contact-image(style='background-image: url(assets/images/content/about-contact.jpg)')

