extends layout

block title
	title card

block content
	
	.card
		a(href="#").card__back
		.container
			.card__bread
				.bread
					a(href="#").bread__item Квартал "Дельта"
					a(href="#").bread__item 1 - 12 этажи
					a(href="#").bread__item 2-комнатная "Трансформер"

			.card__inner
				.card__stats
					.card__stats-info
						.card__stats-line
							.card__stats-item
								.card__stats-item-value 4
								.card__stats-item-name Очередь
							.card__stats-item
								.card__stats-item-value 4
								.card__stats-item-name Дом
							.card__stats-item
								.card__stats-item-value 4
								.card__stats-item-name Этаж
						.card__stats-line
							.card__stats-item
								.card__stats-item-value 2-а-4
								.card__stats-item-name Квартира
						.card__stats-line
							.card__stats-item
								.card__stats-item-value III квартал 2018
								.card__stats-item-name окончание строительства

					.card__stats-square
						.card__stats-square-value 59.78 <span>м²</span>
						.card__stats-item-name Площадь

					.card__stats-media
						a(href="#").card__stats-media-item.card__stats-media-item--tour 3d тур
						a(href="#").card__stats-media-item.card__stats-media-item--gallery Галерея

					.card__stats-placement
						img(src="assets/images/static/placement.png", alt="").card__stats-placement-item

				.card__image
					.card__image-main
						img(src="assets/images/content/plan.svg", alt="")

					.card__image-type
						.card__image-type-item.card__image-type-item--furniture(style='display: none' data-src='assets/images/content/plan.svg') С мебелью
						.card__image-type-item.card__image-type-item--no-furniture(data-src='assets/images/content/plan.svg') Без мебели
						.card__image-type-item.card__image-type-item--plan(data-src='assets/images/content/plan.svg') 3D план

				.card__controls
					.card__controls-block
						.card__controls-button
							a(href="#").button.button--small.button--orange забронировать
						.card__controls-button
							a(href="").button.button--small.button--light запрос цены

					.card__controls-block
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/calc.svg", alt="").card__controls-link-image
							.card__controls-link-name Рассчитать <span>рассрочку</span>
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/calc.svg", alt="").card__controls-link-image
							.card__controls-link-name Рассчитать <span>ипотеку</span>

					.card__controls-block
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/callback.svg", alt="").card__controls-link-image
							.card__controls-link-name Обратный звонок
						.card__controls-item
							a(href="#").card__controls-link
							img(src="assets/images/static/print.svg", alt="").card__controls-link-image
							.card__controls-link-name Обратный звонок

			.card__advantages
				.card__advantages-title Преимущества квартиры
				.card__advantages-row
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_1.svg", alt="").card__advantages-image-file
						.card__advantages-name Большой балкон
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_2.svg", alt="").card__advantages-image-file
						.card__advantages-name Большой шкаф в нише для удобного хранения в прихожей
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_3.svg", alt="").card__advantages-image-file
						.card__advantages-name Раздельный санузел
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_4.svg", alt="").card__advantages-image-file
						.card__advantages-name Выход на балкон из спальни
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_5.png", alt="").card__advantages-image-file
						.card__advantages-name Огромные кухни-гостиные
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_6.svg", alt="").card__advantages-image-file
						.card__advantages-name Два окна в гостинной
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_7.png", alt="").card__advantages-image-file
						.card__advantages-name Грязная зона прихожей отделена
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_8.svg", alt="").card__advantages-image-file
						.card__advantages-name Окно в ванной комнате
					.card__advantages-item
						.card__advantages-image
							img(src="assets/images/static/adv_9.png", alt="").card__advantages-image-file
						.card__advantages-name Гардеробные

			.card__tour
				.card__tour-row
					.card__tour-content
						.card__tour-title Варианты отделки
						.card__tour-toggle
							.card__tour-toggle-item Светлая
							.card__tour-toggle-button
							.card__tour-toggle-item Темная
						.card__tour-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__tour-tour(style='background-image: url(assets/images/static/tour_bg.jpg)')

			.card__payment
				.card__payment-row
					.card__payment-item
						.card__payment-title 100% оплата
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__payment-item
						.card__payment-title Ипотека
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__payment-item
						.card__payment-title Рассрочка 0%
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
					.card__payment-item
						.card__payment-title 50/50
						.card__payment-text Планировочные решения отражают образ и стиль жизни современного городского жителя. Мы постарались учесть как требования к жизненному пространству молодых горожан без детей, так и интересы покупателей с детьми.
				.card__payment-link
					a(href="#").link.link--black Подробнее о способах оплаты

			.card__popular
				.popular
					.popular__title Самые популярные<br>планировки квартир
					.popular__scene
						.popular__slider.owl-carousel
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
							.popular__slide
								.flat-card
									a(href="#").flat-card__link
									.flat-card__image
										img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
									.flat-card__bottom
										.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
										.flat-card__bottom-stats
											.flat-card__bottom-square 33,66 м2
											.flat-card__bottom-type 1-комнатная
						.popular__nav




