extends layout

block title
	title main

block content
	
	.welcome
		.welcome__bg(style='background-image: url(assets/images/content/3DKorpus.jpg)')

		.welcome__container

			.welcome__awards
				.welcome__awards-item
					a(href="#").welcome__awards-link
					img(src="assets/images/content/award_1.png", alt="").welcome__awards-image
				.welcome__awards-item
					a(href="#").welcome__awards-link
					img(src="assets/images/content/award_2.png", alt="").welcome__awards-image
				.welcome__awards-item
					a(href="#").welcome__awards-link
					img(src="assets/images/content/award_3.png", alt="").welcome__awards-image

			.welcome__content
				.welcome__content-title Жилые комплексы в Новоселье
				.welcome__content-text Мы создаем комфорт

			.welcome__features
				.welcome__features-scroll

				.welcome__features-row
					.welcome__feature
						a(href="#").welcome__feature-link
						.welcome__feature-title Аэро-фотосъемка
						.welcome__feature-text С высоты птичьего полета
					.welcome__feature
						a(href="#").welcome__feature-link
						.welcome__feature-title Виртуальный тур
						.welcome__feature-text Прогулка по проекту ЖК Новоселье
					.welcome__feature
						a(href="#").welcome__feature-link
						.welcome__feature-title Варианты отделки
						.welcome__feature-text Светлая и темная
	.container
		.complexes
			.complexes__row
				.complexes__col
					.complex-card
						a(href="#").complex-card__link
						.complex-card__bg(style='background-image: url(assets/images/content/epsilon.jpg)')
						.complex-card__content
							.complex-card__title Эпсилон
							.complex-card__stats
								.complex-card__stats-item 832 квартиры
								.complex-card__stats-item III квартал 2020
								a(href="#").complex-card__stats-link Узнать больше
							.complex-card__process
								span(style='width: 90%')
							.complex-card__stage Построено 7 этажей
				.complexes__col
					.complex-card
						a(href="#").complex-card__link
						.complex-card__bg(style='background-image: url(assets/images/content/ujutnij_render.jpg)')
						.complex-card__content
							.complex-card__title Уютный
							.complex-card__stats
								.complex-card__stats-item 832 квартиры
								.complex-card__stats-item III квартал 2020
								a(href="#").complex-card__stats-link Узнать больше
							.complex-card__process
								span(style='width: 20%')
							.complex-card__stage Построено 7 этажей
				.complexes__col
					.complex-card
						a(href="#").complex-card__link
						.complex-card__bg(style='background-image: url(assets/images/content/eta.jpg)')
						.complex-card__content
							.complex-card__title ETA
							.complex-card__stats
								.complex-card__stats-item 832 квартиры
								.complex-card__stats-item III квартал 2020
								a(href="#").complex-card__stats-link Узнать больше
							.complex-card__process
								span(style='width: 50%')
							.complex-card__stage Построено 7 этажей

		.tours
			.tours__top
				.tours__top-title Планировки, в которых <br> все продумано
				.tours__item
					.tours__item-main
						.tours__item-name Квартал «Эпсилон»
						.tours__item-descr 1-комнатная «трансформер»
					a(href="#").tours__item-link Смотреть все 3D туры
			.tours__canvas(style='background-image: url(assets/images/content/tour-bg.jpg)')
				.tours__canvas-inner
					// Место для тура
				.tours__canvas-link(data-text='Нажмите, чтобы начать просмотр')

		.popular
			.popular__title Самые популярные<br>планировки квартир
			.popular__scene
				.popular__slider.owl-carousel
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_2.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
					.popular__slide
						.flat-card
							a(href="#").flat-card__link
							.flat-card__image
								img(src="assets/images/content/plan_1.svg", alt="").flat-card__image-file
							.flat-card__bottom
								.flat-card__bottom-main <span>8 квартир</span> с данной<br>планировкой в продаже
								.flat-card__bottom-stats
									.flat-card__bottom-square 33,66 м2
									.flat-card__bottom-type 1-комнатная
				.popular__nav

		.gallery
			.gallery__top
				.gallery__top-title Галерея проекта
				a(href="#").gallery__top-link Перейти на страницу галереи

			.gallery__main
				.gallery__main-scene.owl-carousel
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')
					.gallery__main-slide(style='background-image: url(assets/images/content/gallery__main-1.jpg)')

				.gallery__thumbs
					.gallery__thumbs-item.active(style='background-image: url(assets/images/content/thumb_1.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_2.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_3.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_4.jpg)')
					.gallery__thumbs-item(style='background-image: url(assets/images/content/thumb_5.jpg)')

		.media
			.media__content
				.media__content-title Будьте всегда в курсе
				.media__content-text Жители «ЖК Новоселье» приезжают с работы не в унылый спальный район, а возвращаются домой — в атмосферу комфорта своих квартир, благоустройства и защищенности квартала.
				a(href="#").media__content-link gknovoselie
			.media__gallery
				.media__gallery-col
					.media__gallery-item(style='background-image: url(assets/images/content/inst_1.jpg)')
					.media__gallery-item(style='background-image: url(assets/images/content/inst_2.jpg)')
				.media__gallery-col
					.media__gallery-item(style='background-image: url(assets/images/content/inst_3.jpg)')
					.media__gallery-item(style='background-image: url(assets/images/content/inst_4.jpg)')







				





	