@include respond (1600px) {

	.complex-card {

		&__title {
			font-size: 42px;
			line-height: 54px;
			margin-bottom: 40px;
		}

		&__stats {

			@media screen and (min-width: 1280px) {
				flex-direction: column;
				position: relative;

				&-item {
					margin-top: 10px;

					&:first-child {
						margin-top: 0;
					}
				}

				&-link {
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}

@include respond (1280px) {

	.complex-card {
		height: 320px;
	}
}

@include respond (768px) {

	.complex-card {
		height: 400px;

		&__content {
			padding: 20px 15px;
		}

		&__title {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 35px;
		}

		&__stats {
			font-size: 14px;

			@media screen and (max-width: 767px) {
				flex-direction: column;
				position: relative;

				&-item {
					margin-top: 10px;

					&:first-child {
						margin-top: 0;
					}
				}

				&-link {
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}