@include respond (1600px) {

	.complexes {

		&__col {
			width: 32.5%;
			margin-right: 2.5%;
		}
	}
}

@include respond (1280px) {

	.complexes {

		&__row {
			display: block;
		}

		&__col {
			margin-right: 0;
			width: 100%;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include respond (768px) {

	.complexes {
		padding-top: 30px;

		&__col {
			margin-bottom: 20px;
		}
	}
}