@include respond (1600px) {

	.flat-card {
		padding: 20px;
	}
}

@include respond (768px) {

	.flat-card {

		&__image {
			height: 220px;
		}

		&__bottom {
			align-items: flex-start;

			&-square {
				font-size: 16px;
				line-height: 24px;
			}

			&-type {
				line-height: 1;
			}
		}
	}
}