@include respond (1600px) {

	.gallery {
		
		&__top {
			padding: 60px 60px 60px 100px;
		}
	}
}

@include respond (1280px) {

	.gallery {

		&__top {
			padding: 50px 0;

			&-title {
				font-size: 42px;
			}
		}
	}
}

@include respond (768px) {

	.gallery {

		&__top {
			padding: 20px 0;
			display: block;

			&-title {
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 20px;
			}

			&-link {
				font-size: 14px;
			}
		}

		&__main {

			&-slide {
			}
		}

		&__thumbs {
			position: relative;
			left: 0;
			bottom: 0;
			transform: none;
			padding: 12px 15px;
			overflow-x: scroll;

			&-item {
				flex-shrink: 0;
				margin-right: 10px;
			}
		}
	}
}