@include respond (1600px) {

	.media {
		padding: 110px 0;

		&__content {
			padding-left: 100px;

			&-title {
				font-size: 54px;
				line-height: 60px;
				margin-bottom: 40px;
			}

			&-text {
				max-width: 370px;
			}
		}
	}
}

@include respond (1280px) {

	.media {
		padding: 100px 0;

		&__content {
			padding-left: 0;
			padding-right: 20px;

			&:after {
				width: 350px;
				height: 342px;
				left: -169px;
				top: -109px;
			}

			&-title {
				font-size: 42px;
				line-height: 48px;
				margin-bottom: 30px;
			}

			&-text {

			}

			&-link {
				margin-top: 40px;
			}
		}

		&__gallery {

			&-col {
				width: calc(50% - 5px);

				&:last-child {
					padding-top: 40px;
				}
			}

			&-item {
				margin-bottom: 10px;
			}
		}
	}
}

@include respond (768px) {

	.media {
		display: block;

		&__content {
			width: 100%;
			margin-bottom: 50px;

			&:after {
				width: 180px;
				height: 178px;
				left: 110px;
				top: -60px;
				background-image: url(../images/static/shape-mini.svg);
			}

			&-title {
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 20px;
			}

			&-text {
				font-size: 14px;
				line-height: 21px;
			}

			&-link {
				margin-top: 20px;
			}
		}

		&__gallery {
			width: 100%;
		}
	}
}












