@include respond (1600px) {

	.popular {
		&__scene {
			padding-left: 100px;
		}
	}
}

@include respond (1280px) {

	.popular {
		margin: 50px 0 30px 0;

		&__title {
			margin-bottom: 10px;
		}

		&__scene {
			padding-left: 0;
			margin: 0 -10px;
		}

		&__nav {
			margin-top: 30px;
		}
	}
}

@include respond (768px) {

	.popular {
		position: relative;
		margin: 40px 0 0 0;

		&__title {
			font-size: 14px;
			line-height: 21px;
			text-align: center;
		}

		&__arr {
			position: absolute;
			transform: none;
			top: 10px;

			&--prev {
				left: 0;
			}

			&--next {
				right: 0;
			}
		}
	}
}