@include respond (1280px) {

	.soc {
		padding: 0;

		&__item {
		    filter: grayscale(0) brightness(0) invert(1);
		    opacity: .6;
		    margin-right: 18px;

		    &:last-child {
		    	margin-right: 0;
		    }

		    &:hover {
		    	filter: grayscale(0) brightness(0) invert(1);
		    	opacity: .6;
		    }
		}
	}
} 