@include respond (1600px) {

	.tours {

		&__top {
			padding-left: 100px;

			&-title {
				font-size: 54px;
				line-height: 60px;
				margin-bottom: 30px;
			}
		}
	}
}

@include respond (1280px) {

	.tours {

		&__top {
			padding: 100px 0 30px 0;

			&:after {
				width: 350px;
				height: 342px;
				right: -3px;
			    top: 48px;
			}

			&-title {
				font-size: 42px;
				line-height: 48px;
				margin-bottom: 40px;
			}
		}

		&__item {

			&-descr {
				font-size: 22px;
				line-height: 27px;
			}
		}
	}
}

@include respond (768px) {

	.tours {

		&__top {

			&:after {
				width: 185px;
				height: 182px;
				background-image: url(../images/static/shape-mini.svg);
			}

			&-title {
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 30px;
			}
		}

		&__item {
			display: block;

			&-name {
				margin-bottom: 0;
			}

			&-descr {
				font-size: 16px;
				line-height: 24px;
			}

			&-main {
				margin-bottom: 20px;
			}

			&-link {
				font-size: 14px;
			}
		}

		&__canvas {

			&-link {

				&:after {
					padding: 10px;
					width: 110px;
					height: 110px;
					font-size: 13px;
					line-height: 1.3;
				}
			}
		}
	}
}