@include respond (1600px) {

	.welcome {

		&__content {
			padding-left: 100px;
			transform: translateY(calc(-7% - 30px));

			&-title {
				font-size: 70px;
			}
		}

		&__container {
			padding: 0 40px;
		}

		&__features {
			left: 40px;
			padding-left: 100px;
		}
	}
}

@include respond (1280px) {

	.welcome {
		height: auto;

		&__awards {
			right: 40px;
		}

		&__container {
			flex-direction: column;
			justify-content: flex-end;
			height: 570px;
		}

		&__content {
			padding-left: 0;

			&-title {
				font-size: 54px;
			}

			&-text {
				font-size: 18px;
			}
		}

		&__features {
			position: relative;
			left: 0;
			padding: 30px 40px;
			width: calc(100% - -80px);

			&-scroll {
				display: none;
			}
		}
	}
}

@include respond (768px) {

	.welcome {
		padding-top: 44px;
		
		&__container {
			padding: 0 15px;
			height: auto;
		}

		&__awards {
			flex-direction: column;
			right: 15px;

			&-item {
				margin-left: 0;
				margin-bottom: 10px;
				width: 45px;
			}
		}

		&__content {
			text-align: center;
			min-height: 420px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			&-title {
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 10px;
			}
		}

		&__features {

			&-row {
				display: block;
			}
		}

		&__feature {
			width: 100%;
			text-align: center;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}

			&-title {
				font-size: 14px;
				margin-bottom: 5px;
			}

			&-text {
				max-width: 100%;

			}
		}
	}
}







