@include respond (1600px) {
	
	.button {
		padding: 20px 14px;
	}
}

@include respond (1280px) {

	.button {
		padding: 19px 14px;
	}
}

@include respond (768px) {

	.button {
		padding: 16px 17px 15px 17px;
		font-size: 12px;
	}
}