.a-features {
	margin-top: 200px;

	&__row {
		display: flex;
	}

	&__item {
		margin-right: 95px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {
		font-size: 60px;
		line-height: 68px;
		white-space: nowrap;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 100;
	}
}