.about {

	&__note {
		margin: 200px auto;
		max-width: 840px;
		text-align: center;

		&-text {
			font-size: 20px;
			line-height: 30px;
		}

		&-title {
			font-size: 60px;
			line-height: 68px;
			margin-bottom: 30px;
		}
	}

	&__block {
		min-height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		display: flex;
		align-items: flex-end;
		background-color: #c9d2d3;

		&-content {
			padding-bottom: 130px;
			padding-left: 130px;
		}

		&-title {
			font-size: 80px;
			line-height: 1;
			font-weight: 700;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&-text {
			font-weight: 700;	
			font-size: 35px;
		}
	}

	&__types {
		display: flex;

		&-item {
			position: relative;
			width: 33.3333%;
			height: 920px;
			background-color: #000;
		}

		&-image {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-position: center;
			background-size: cover;
			z-index: 1;
		}

		&-title {
			position: absolute;
			z-index: 2;
			top: calc(100% - 260px);
			left: 50px;
			right: 50px;
			font-size: 48px;
			line-height: 54px;
			color: #fff;
			font-weight: 500;
			max-width: 360px;
		}
	}

	&__plan {
		img {
			width: 100%;
			display: block;
		}
	}

	&__contact {

		&-row {
			display: flex;
		}

		&-content {
			width: 50%;
			flex-shrink: 0;
			padding: 120px 0 200px 0;
		}

		&-title {
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 100px;
		}

		&-item {
			transition: color .3s;
			font-size: 48px;
			line-height: 54px;
			font-weight: 500;
			text-decoration: none;
			color: #000;
			display: block;

			&:hover {
				color: #e74327;
			}
		}

		&-text {
			margin-top: 120px;
			margin-bottom: 35px;
			font-size: 20px;
			line-height: 30px;
			max-width: 560px;
		}

		&-link {
			transition: opacity .3s;
			display: block;
			margin-bottom: 15px;
			text-decoration: none;
			color: #e74327;
			font-weight: 500;

			&:hover {
				opacity: .8;
			}
		}

		&-image {
			width: calc(50% + (50vw - 750px));
			flex-shrink: 0;
			background-position: center;
			background-size: cover;
		}
	}
}