.about-welcome {
	min-height: calc(100vh - 56px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;

	&__title {
		max-width: 980px;
		font-size: 80px;
		line-height: 1;
		font-weight: 700;
		color: #fff;
		padding-left: 120px;
		margin-top: 100px;
	}

	&__list {
		margin-top: 150px;
		margin-bottom: 100px;
		display: flex;

		&-item {
			margin-right: 180px;
			font-weight: 500;
			color: #fff;
			font-size: 48px;
			text-decoration: none;
			border-bottom: 1px solid rgba(255,255,255,0.7);
			transition: color .3s, border-color .3s;

			&:hover {
				color: #e74327;
				border-color: #e74327;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}