.bread {
	padding: 20px 30px;
	background-color: #fafafa;
	position: relative;
	
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: -500px;
		right: -500px;
		background-color: #fafafa;
		z-index: -1;
	}

	&__item {
		text-transform: uppercase;
		text-decoration: none;
		color: #1da7f7;
		border-bottom: 1px solid #1da7f7;
		transition: opacity .3s;
		margin-right: 20px;

		&:hover {
			opacity: .8;
		}
	}
}