.callback {
	z-index: 100;
	position: fixed;
	bottom: 40px;
	width: 56px;
	height: 56px;
	background-color: rgba(#e74327, 0.5);
	right: 50px;
	border-radius: 50%;
	
	&:after {
		content: '';
		position: absolute;
		left: calc(50% - 12px);
		top: calc(50% - 12px);
		width: 24px;
		height: 24px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/call.svg);
		z-index: 2;
	}

	&:before {
		content: '';
		position: absolute;
		left: 4px;
		top: 4px;
		right: 4px;
		bottom: 4px;
		border-radius: 50%;
		border: 1px solid #fff;
		opacity: .9;
	}

	&:hover {

		&:after {
			animation: phoneAnimate 0.6s infinite linear;
		}
	}
}

@keyframes phoneAnimate {
	from {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(15deg);
	}

	to {
		transform: rotate(0deg);
	}
}