.card {
	position: relative;
	
	&__inner {
		position: relative;
		display: flex;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: -500px;
			right: -500px;
			background-color: #fafafa;
			z-index: -1;
		}
	}

	&__stats {
		padding: 30px;
		width: 330px;
		flex-shrink: 0;

		&-info {
			margin-bottom: 90px;
		}

		&-line {
			margin-bottom: 20px;
			display: flex;
			justify-content: center;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-item {
			margin-right: 20px;
			text-align: center;

			&:last-child {
				margin-right: 0;
			}

			&-value {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			&-name {
				font-weight: 100;
				font-size: 14px;
				line-height: 21px;
			}
		}

		&-square {
			margin-bottom: 70px;
			text-align: center;

			&-value {
				font-size: 35px;
				font-weight: 700;

				span {
					font-size: 16px;
					font-weight: 100;	
				}
			}
		}

		&-media {
			 display: flex;
			 justify-content: center;
			 margin-bottom: 70px;

			 &-item {
			 	position: relative;
			 	font-size: 14px;
			 	text-transform: uppercase;
			 	color: #e74327;
			 	margin-right: 35px;
			 	padding-left: 30px;
			 	text-decoration: none;

			 	&:last-child {
			 		margin-right: 0;
			 	}

			 	&:before {
			 		content: '';
			 		position: absolute;
			 		left: 0;
			 		top: 50%;
			 		transform: translateY(-50%);
			 		width: 22px;
			 		height: 24px;
			 		background-position: center;
			 		background-repeat: no-repeat;
			 		
			 	}

			 	&--tour {
					&:before {
						background-image: url(../images/static/icon-tour.svg);
					}
			 	}

			 	&--gallery {
					&:before {
						background-image: url(../images/static/icon-gallery.svg);
					}
			 	}
			 }
		}

		&-placement {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__image {
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		padding: 60px;

		&-main {
			max-width: 540px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 480px;
			margin-bottom: 50px;

			img {
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}

		&-type {
			display: flex;
			align-items: center;
			justify-content: center;

			&-item {
				position: relative;
				padding-left: 65px;
				width: 185px;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 900;
				color: #e74327;
				line-height: 1;
				margin-right: 65px;
				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 55px;
					height: 45px;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url(../images/static/3d-plan.png);
				}

				&--plan {
					&:before {
						background-image: url(../images/static/3d-plan.png);
					}
				}

				&--no-furniture {
					&:before {
						background-image: url(../images/static/no-furniture.svg);
					}
				}

				&--furniture {
					&:before {
						background-image: url(../images/static/furniture.svg);
					}
				}
			}
		}
	}

	&__controls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 35px 0 35px 35px;
		width: 185px;
		flex-shrink: 0;

		&-button {
			margin-bottom: 10px;
			display: flex;
			justify-content: flex-end;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-item {
			margin-bottom: 35px;
			position: relative;
			display: flex;
			align-items: center;
			color: #e74327;
			padding-left: 50px;
			margin-left: 10px;
			font-size: 14px;
			text-transform: uppercase;

			span {
				font-weight: 900;
				display: block;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-link {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 2;

			&-image {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				max-width: 28px;
				max-height: 37px;
				margin-right: 20px;
			}
		}
	}

	&__advantages {
		padding: 120px 0 150px 0;

		&-title {
			font-size: 60px;
			text-align: center;
			margin-bottom: 65px;
		}

		&-row {
			display: flex;
			justify-content: center;
		}

		&-item {
			flex: 1;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}

		&-image {
			height: 55px;
			width: auto;
			display: flex;
			justify-content: center;
			margin-bottom: 30px;

			&-file {
				max-height: 100%;
				height: auto;
				max-width: 82px;
			}
		}

		&-name {
			text-align: center;
			font-size: 14px;
			font-weight: 100;
			line-height: 21px;
		}
	}

	&__tour {
		margin-bottom: 120px;

		&-row {
			display: flex;
		}

		&-content {
			padding: 60px 125px 60px 60px;
			width: 500px;
			flex-shrink: 0;
		}

		&-text {
			font-size: 16px;
			line-height: 24px;
			font-weight: 100;
		}

		&-title {
			font-size: 60px;
			line-height: 68px;
			margin-bottom: 60px;
		}

		&-tour {
			flex-grow: 2;
			height: 550px;
		}

		&-toggle {
			display: flex;
			align-items: center;
			margin-bottom: 40px;

			&--active {

				.card__tour-toggle {
					
					&-item {
						&:first-child {
							color: #000;
						}
						&:last-child {
							color: #e74327;
						}
					}

					&-button {
						&:after {
							transform: translateX(34px);
						}
					}
				}
			}

			&-item {
				color: #acacac;
				font-size: 20px;
				font-weight: 500;
				margin-right: 10px;
				transition: color .3s;

				&:first-child {
					color: #e74327;
				}

				&:last-child {
					color: #000;
				}
			}

			&-button {
				position: relative;
				border-radius: 30px;
				border: 1px solid #eaeaea;
				width: 75px;
				height: 40px;
				margin-right: 10px;
				cursor: pointer;

				&:after {
					content: '';
					position: absolute;
					left: 13px;
					top: 12px;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: #e74327;
					transition: transform .3s;
				}
			}
		}
	}

	&__payment {
		margin-bottom: 120px;

		&-row {
			display: flex;
			margin-bottom: 45px;
		}

		&-item {
			width: 25%;
			padding-right: 90px;
		}

		&-title {
			font-size: 35px;
			line-height: 40px;
			font-weight: 700;
			margin-bottom: 40px;
		}

		&-text {
			font-size: 16px;
			line-height: 24px;
			font-weight: 100;
		}

		&-link {
			text-align: center;
		}
	}

	&__popular {
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;

		&:before {
			content: '';
			position: absolute;
			left: -500px;
			right: -500px;
			top: 0;
			bottom: 0;
			background-color: #fafafa;
		}
	}
}