.complex-card {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	height: 760px;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 400px;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		opacity: .4;
	}

	&:hover {

		.complex-card {

			&__bg {
				transform: scale(1.05);
			}

			&__stats {

				&-link {
					color: #F18B04;
					border-color: #F18B04;
				}
			}
		}
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-position: center;
		background-size: cover;
		transition: transform .5s;
	}

	&__title {
		color: #fff;
		font-weight: 500;
		font-size: 48px;
		line-height: 54px;
		margin-bottom: 45px;
	}

	&__content {
		padding: 30px;
		width: 100%;
		position: relative;
		z-index: 2;
	}

	&__stats {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;

		&-item {
			color: #fff;
			font-weight: 500;
		}

		&-link {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid #fff;
			transition: color .3s, border-color .3s;
		}
	}

	&__process {
		position: relative;
		height: 1px;
		background-color: rgba(255,255,255,0.5);
		margin-top: 20px;
		margin-bottom: 15px;

		span {
			position: absolute;
			left: 0;
			top: -1px;
			bottom: -1px;
			background: linear-gradient(to left, #f08a04, #e74327);
		}
	}

	&__stage {
		color: #f18b05;
		font-weight: 500;
		font-size: 14px;
	}
}









