.complexes {
	padding-top: 70px;

	&__row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 32%;
		margin-right: 3%;
		flex: 1;

		&:last-child {
			margin-right: 0;
		}
	}
}