.flat-card {
	position: relative;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	transition: box-shadow .4s;
	padding: 35px;

	&:hover {
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 310px;
		margin-bottom: 35px;

		&-file {
			max-width: 100%;
			max-height: 100%;
			width: auto !important;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-main {
			width: 60%;
			font-size: 14px;
			line-height: 21px;
			color: #000;

			span {
				color: $orange;
			}
		}

		&-square {
			font-size: 25px;
			font-weight: 700;
			line-height: 30px;
		}

		&-type {
			font-size: 14px;
			line-height: 21px;
			text-align: right;
		}
	}
}