.gallery {

	&__top {
		padding: 70px 70px 60px 120px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&-title {
			font-size: 48px;
			font-weight: 500;
		}

		&-link {
			font-weight: 500;
			color: #000;
			transition: color .3s, border-color .3s;
			text-decoration: none;
			border-bottom: 1px solid #000;
			margin-bottom: 7px;

			&:hover {
				color: $orange;
				border-color: $orange;
			}
		}
	}

	&__main {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		&-scene {
			
		}

		&-slide {
			background-position: center;
			background-size: cover;
			max-height: 100vh;

			@include aspect-ratio(16,9);
		}

		&-arr {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 48px;
			height: 46px;
			background-color: rgba(0,0,0,0.4);
			cursor: pointer;
			transition: background-color .3s;

			&:hover {
				background-color: rgba(0,0,0,0.6);
			}

			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 14px;
				height: 21px;
				z-index: 2;
				background-image: url(../images/static/gallery-arr-prev.svg);
			}

			&--prev {
				left: 0;

				&:before {
					transform: rotate(180deg) translate(50%, 50%);
				}
			}

			&--next {
				right: 0;
			}
		}
	}

	&__thumbs {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		z-index: 2;

		&-item {
			position: relative;
			background-position: center;
			background-size: cover;
			width: 77px;
			height: 50px;
			margin-right: 20px;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				transition: opacity .3s;
				border: 2px solid #e74327;
			}

			&.active {

				&:after {
					opacity: 1;
				}
			}
		}
	}
}













