.media {
	display: flex;
	align-items: center;
	padding: 160px 0;

	&__content {
		width: 50%;
		padding-left: 120px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../images/static/shape.svg);
			width: 457px;
			height: 446px;
			left: -120px;
			top: -180px;
			z-index: -1;
		}

		&--custom {

			&:after {
				width: 770px;
				height: 750px;
				opacity: .4;
				left: 15px;
				top: 64px;
			}
		}

		&-title {
			font-size: 60px;
			line-height: 68px;
			margin-bottom: 40px;
			max-width: 460px;
		}

		&-text {
			font-weight: 100;
			line-height: 24px;
			max-width: 460px;
		}

		&-list {
			max-width: 430px;

			&-item {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 22px;
				padding-left: 20px;
				position: relative;
				font-weight: 100;

				&:before {
					content: '';
					position: absolute;
					left: 5px;
					top: 9px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: #006ab5;
				}
			}
		}

		&-link {
			margin-top: 80px;
			display: inline-block;
			position: relative;
			color: $orange;
			padding-left: 30px;
			text-decoration: none;
			transition: opacity .3s;

			&:hover {
				opacity: .8;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 16px;
				height: 16px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url(../images/static/media-inst.svg);
			}
		}
	}

	&__gallery {
		width: 50%;
		display: flex;
		justify-content: space-between;

		&-col {
			width: calc(50% - 10px);

			&:last-child {
				padding-top: 85px;
			}
		}

		&-item {
			@include aspect-ratio(1,1);

			margin-bottom: 20px;
			background-position: center;
			background-size: cover;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}