.popular {
	margin: 70px 0;
	position: relative;

	&__title {
		font-weight: 100;
		line-height: 24px;
		text-transform: uppercase;

		@media screen and (min-width: 1280px) {
			position: absolute;
			left: 0;
			top: 20px;
			transform: rotate(-180deg);
		    writing-mode: tb-rl;
		    text-align: right;
		}
	}

	&__scene {
		padding-left: 120px;
		// margin-right: -50px;
	}

	&__slide {
		margin: 10px;
	}

	&__nav {
		display: flex;
		align-items: center;
		width: 70px;
		justify-content: space-between;
		margin-left: 10px;
		margin-top: 40px;
	}

	&__arr {
		width: 14px;
		height: 21px;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: opacity .3s;

		&--prev {
			background-image: url(../images/static/popular__arr--prev.svg);
		}

		&--next {
			background-image: url(../images/static/popular__arr--next.svg);
		}

		&.disabled {
			opacity: .3;
			pointer-events: none;
		}

	}
}