.soc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0 20px;

	&__item {
		position: relative;
		width: 22px;
		height: 20px;
		flex-shrink: 0;
		margin-right: 20px;
		filter: grayscale(1);
		opacity: .4;
		transition: opacity .3s, filter .3s;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;

		&:hover {
			opacity: 1;
			filter: grayscale(0);
		}

		&:last-child {
			margin-right: 0;
		}

		&-link {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
}