.tours {

	&__top {
		padding: 140px 70px 40px 120px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../images/static/shape.svg);
			width: 457px;
			height: 446px;
			right: 20px;
			top: 130px;
			z-index: -1;
		}

		&-title {
			font-size: 60px;
			line-height: 68px;
			margin-bottom: 60px;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&-name {
			font-size: 14px;
			line-height: 21px;
			font-weight: 100;
			margin-bottom: 5px;
		}

		&-descr {
			font-weight: 700;
			font-size: 25px;
			line-height: 30px;
		}

		&-link {
			font-weight: 500;
			color: #000;
			transition: color .3s, border-color .3s;
			text-decoration: none;
			border-bottom: 1px solid #000;

			&:hover {
				color: $orange;
				border-color: $orange;
			}
		}
	}

	&__canvas {
		position: relative;
		background-position: center;
		background-size: cover;
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		@include aspect-ratio(16,9);

		max-height: 100vh;

		&-inner {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}

		&-link {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			cursor: pointer;

			&:after {
				content: attr(data-text);
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				background-color: rgba(255,255,255,0.2);
				border-radius: 50%;
				width: 145px;
				height: 145px;
				color: #fff;
				font-weight: 500;
				line-height: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px;
				box-sizing: border-box;
				text-align: center;
			}
		}
	}
}