.welcome {
	position: relative;
	height: calc(100vh - 56px);
	min-height: 565px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.4);
	}

	&__bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: center;
		background-size: cover;
	}

	&__container {
		@extend .container;

		position: relative;
		z-index: 2;
		align-self: stretch;
		display: flex;
		align-items: center;
	}

	&__awards {
		position: absolute;
		right: 50px;
		top: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;

		&-item {
			position: relative;
			margin-left: 10px;
		}

		&-link {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}

	&__content {
		padding-left: 120px;
		max-width: 880px;

		&-title {
			font-size: 80px;
			line-height: 1;
			font-weight: 700;
			color: #fff;
			margin-bottom: 15px;
		}

		&-text {
			color: #fff;
			font-weight: 500;
			font-size: 20px;
		}
	}

	&__features {
		position: absolute;
		left: 50px;
		bottom: 0;
		background-color: #fff;
		padding: 35px 20px 20px 120px;

		&:before {
			content: '';
			position: absolute;
			right: 100%;
			width: 1000px;
			top: 0;
			bottom: 0;
			background-color: #fff;
		}

		&-scroll {
			position: absolute;
			left: 0;
			width: 18px;
			height: 36px;
			border-radius: 9px;
			border: 1px solid #acacac;
			opacity: 0.5;
			cursor: pointer;

			&:after {
				content: '';
				position: absolute;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #acacac;
				left: calc(50% - 3px);
				top: 5px;
				animation: scrollAnimation 2s infinite ease;
			}
		}

		&-row {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}

	&__feature {
		width: 240px;
		position: relative;

		&:hover {

			.welcome {

				&__feature {

					&-title {
						color: $orange;
						border-color: transparent;

						&:after {
							opacity: 1;
							transform: translateX(0) translateY(-50%);
						}
					}
				}
			}
		}

		&-link {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}

		&-title {
			display: inline-block;
			position: relative;
			font-weight: 500;
			border-bottom: 1px solid #000;
			margin-bottom: 10px;
			transition: border-color .3s, color .3s;

			&:after {
				content: '';
				position: absolute;
				right: -30px;
				top: 50%;
				width: 18px;
				height: 9px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url(../images/static/welcome-feature-arrow.svg);
				opacity: 0;
				transform: translateX(-10px) translateY(-50%);
				transition: opacity .3s, transform .3s;
			}
		}

		&-text {
			font-size: 14px;
			line-height: 21px;
			max-width: 150px;
		}
	}
}

@keyframes scrollAnimation {

	from {
		transform: translateY(0);
		opacity: 0;
	}

	15% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	99.999% {
		transform: translateY(17px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
	}
}






